.overview_section {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;

  h2 {
    color: var(--foreground-pale);
  }

  h2.dark {
    color: var(--foreground);
  }

  ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    row-gap: 15px;

    @media (min-width: 479px) {
      row-gap: 25px;
    }
  }
}
