.overview_card {
  background-color: var(--card);
  padding: 25px;
  gap: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s;
  animation-fill-mode: forwards;

  &:hover {
    background-color: var(--card-hover);
  }

  header,
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    span {
      color: var(--foreground-pale);
      font-weight: 700;
      font-size: 14px;
    }

    p {
      font-weight: 700;
      font-size: 30px;
    }
  }

  footer {
    align-items: flex-end;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
