.mode_toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 8px;
  font-weight: 700;

  span {
    color: var(--toggle);
    font-size: 14px;
    text-align: end;
  }
}
