:root {
  /* PRIMARY */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook-color: hsl(195, 100%, 50%);
  --twitter-color: hsl(203, 89%, 53%);
  --instagram-color: hsl(329, 70%, 58%);
  --youtube-color: hsl(348, 97%, 39%);
  --instagram-color-gradient: linear-gradient(
    to bottom,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );

  @media (min-width: 565px) {
    --instagram-color-gradient: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  }

  /* LIGHT THEME */
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(230, 17%, 14%);
  --foreground-pale: hsl(228, 12%, 44%);
  --top-background-pattern: hsl(225, 100%, 98%);
  --thumbnail: hsl(228, 12%, 85%);
  --card: hsl(227, 47%, 96%);
  --card-hover: hsl(227, 47%, 92%);
  --chart: hsl(243, 51%, 70%);
  --toggle: hsl(230, 22%, 74%);
  --toggle-hover: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

/* DARK THEME */
html.dark {
  --background: hsl(230, 17%, 14%);
  --foreground: hsl(0, 0%, 100%);
  --foreground-pale: hsl(228, 34%, 66%);
  --top-background-pattern: hsl(232, 19%, 15%);
  --thumbnail: hsl(228, 34%, 40%);
  --card: hsl(228, 28%, 20%);
  --card-hover: hsl(228, 28%, 25%);
  --chart: hsl(243, 51%, 70%);
  --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --toggle-hover: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

@media (min-width: 565px) {
  :root {
    --instagram-color-gradient: linear-gradient(
      to right,
      hsl(37, 97%, 70%),
      hsl(329, 70%, 58%)
    );
  }
}

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.top-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: var(--top-background-pattern);
  border-radius: 0 0 25px 25px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  gap: 40px;
  margin-bottom: 50px;
}

/* ANT DESIGN OVERRIDES */

.ant-modal {
  width: 90% !important;
  max-width: 1000px !important;
}

.ant-modal-content {
  padding: 0 !important;
  border-radius: 15px !important;
  background-color: var(--background) !important;
}

.ant-modal-close-x {
  color: var(--foreground-pale) !important;
}

.ant-switch-inner {
  background: var(--toggle) !important;
}

.ant-switch-checked {
  background: transparent !important;
}

.ant-switch-inner:hover {
  background: var(--toggle-hover) !important;
}

.ant-switch-handle {
  pointer-events: none;
}

/* RECHARTS OVERRIDES */

.recharts-cartesian-axis-ticks g line {
  display: none;
}

.recharts-line g circle {
  fill: var(--background);
}

.recharts-active-dot circle {
  stroke: none;
}

.recharts-line path {
  stroke-width: 2;
}

.recharts-line-dots circle {
  stroke-width: 1.5;
}

.recharts-cartesian-axis line {
  stroke: var(--foreground-pale);
}
