.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0 5%;

  &__max_width {
    width: 100%;
    max-width: 1100px;
    padding: 35px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;


    @media (min-width: 400px) {
      gap: 50px;
    }

    @media (min-width: 565px) {
      align-items: center;
    }

    aside {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-top: -4px;

      @media (min-width: 565px) {
        margin-top: 0;
      }

      h1 {
        font-weight: 700;
        font-size: 28px;
      }

      span {
        color: var(--foreground-pale);
        font-weight: 700;
        font-size: 15px;
      }
    }
  }
}
